/* PROJECT DETAILS PAGE */

.portfolio-description .tool-used {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.33rem;
    color: #b5d1ff;
    transition: color 650ms;
}

.portfolio-description .tool-used a {
    text-decoration: none;
    color: var(--text-theme-link);
}

.portfolio-description .tool-used a :hover {
    text-decoration: underline;
	text-decoration-color: var(--text-theme-link);
    -webkit-text-decoration-color: var(--text-theme-link);
    text-decoration-thickness: 0.12em;
    -webkit-text-decoration-thickness: 0.12em;
    color: var(--text-theme-link);
}

/* TODO: Makeimage beside description text aligned to top. */

/*.project-details .portfolio-item .portfolio-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}*/
