.covers-container {
    text-align: center;
    color: #ccc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 20px;
}

.covers-container img {
    width: 250px;
}

.table {
	display: table;
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}

ul#horizontal-list li {
	display: inline-block;
}

@media screen and (max-width: 992px) {
    ul#horizontal-list li {
        vertical-align: middle;
    }
}