.column {
    float: left;
    width: 96.5%;
    padding: 10px;
    margin: 5px;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column .fa {
  color: #222;
}

@media screen and (max-width: 800px) {
  .row {
    margin: 0;
  }

  .column {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}